.h1 {
  font-size: 2.5em;
  transform: scale(3);
  display: inline-block;
}

.container1 {
  display: flex;
  align-items: center;
  gap: 900px;
}

.ques {
  margin: 10px 0;
}

.ques input {
  display: none;
}

.ques label {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  width: 200px;
  height: 200px;
  cursor: ;
  background-color: #ffffff;
  border-radius: 60px;
}

.ques .answer {
  max-height: 0;
  flex: 1;
  margin-left: auto;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #ffffff;
  padding: 0 10px;
  border-radius: 0 0 6px 6px;
  text-align: right;
  width: 800px;
}

.ques input:checked ~ .answer {
  max-height: 100px;
  padding: 10px;
}
