h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

.container1 {
  display: flex;
  align-items: center;
  gap: 1000px;
}

.ques {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
}

.ques input {
  display: none;
}

.ques label {
  grid-column: 2;
  font-weight: bold;
  height: 200px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ques .pic {
  grid-column: 3;
  height: 200px;
  width: auto;
}
.ques .answer {
  max-height: 0;
  flex: 1;
  margin-left: auto;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #ffffff;
  padding: 0 10px;
  border-radius: 0 0 6px 6px;
  text-align: right;
  width: 800px;
}

.ques input:checked ~ .answer {
  max-height: 100px;
  padding: 10px;
}
